apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: home-assistant
  name: home-assistant-deploy
  namespace: home-assistant
spec:
  selector:
    matchLabels:
      app: home-assistant
  template:
    metadata:
      labels:
        app: home-assistant
    spec:
      nodeSelector:
        feature.node.kubernetes.io/{{ zigbee_dongle_node_label }}: "true"
      containers:
      - name: home-assistant
        securityContext:
          privileged: true
        image: ghcr.io/home-assistant/home-assistant:stable
        ports:
          - containerPort: 8123
        volumeMounts:
          - name: zigbee-dongle
            mountPath: /dev/serial/by-id/{{ zigbee_dongle_serial_id }}
          - name: configuration
            mountPath: /config
      volumes:
      - name: zigbee-dongle
        hostPath: 
          path: /dev/serial/by-id/{{ zigbee_dongle_serial_id }}
      - name: configuration
        persistentVolumeClaim:
          claimName: home-assistant-pvc
