apiVersion: v1
kind: Service
metadata:
  name: home-assistant-service
  namespace: home-assistant
spec:
  ports:
  - port: 80
    targetPort: 8123
  selector:
    app: home-assistant
  type: LoadBalancer
  loadBalancerIP: {{ home_assistant_ip }}
